.splashheader .sub-titles{
    font-weight: bold;
}
.clearfix {
    clear:both;
}

.splashheader  .manage-column{

}
.splashheader .sh_thumb_icon {
    float:left;
    padding: 0 15px 0 0;
}
.splashheader .sh_thumb_icon img{
    width:32px;
    height: 32px;
}
.splash-header  .button-primary{
    margin:15px 0 0 0;
}