.sh-clearfix {
    clear:both;
}
.splash-header{
    margin-bottom: 2%!important;
    overflow: hidden;
    padding:2%;
}
.splash-header .sh-col{
    float:left;
}

.splash-header .sh-col-25{
    width:25%;
}
.splash-header .sh-col-33{
    width:33%;
}
.splash-header .sh-col-50{
    width:50%;
}
.splash-header .sh-col-100{
    width:100%;
}
.splash-header .sh-message{
    text-align: left; 
}
.splash-header .sh-links{
    text-align: center;
    padding: 20px;
}
.splash-header .sh-links a {
    margin: 0 0 0 10px;
}
.splash-header .icon img{
    height:32px;
    width:32px;
}

@media (max-width: 550px) {
    .splash-header .sh-col {
        float: none;
    }
    .splash-header .sh-col-25,
    .splash-header .sh-col-33,
    .splash-header .sh-col-50{
        width: 100%!important;
    }
}